@using Inv.WebUI.Resources
@{

    Layout = "~/Views/Shared/Layout.cshtml";
}

<style>
    


</style>

<div class="content-inner-all">

    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30 small-dn">
        <div class="container-fluid">

        </div>
    </div>
    <!-- Breadcome End-->
    <!-- Mobile Menu start -->
    <div class="mobile-menu-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mobile-menu">
                        <nav id="dropdown">
                            <ul class="mobile-menu-nav">
                                <li>
                                    <a data-toggle="collapse" data-target="#Charts" href="#">Home <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul class="collapse dropdown-header-top">
                                        <li>
                                            <a href="dashboard.html">Dashboard v.1</a>
                                        </li>
                                        <li>
                                            <a href="dashboard-2.html">Dashboard v.2</a>
                                        </li>
                                        <li>
                                            <a href="analytics.html">Analytics</a>
                                        </li>
                                        <li>
                                            <a href="widgets.html">Widgets</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#demo" href="#">Mailbox <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="demo" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="inbox.html">Inbox</a>
                                        </li>
                                        <li>
                                            <a href="view-mail.html">View Mail</a>
                                        </li>
                                        <li>
                                            <a href="compose-mail.html">Compose Mail</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#others" href="#">Miscellaneous <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="others" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="profile.html">Profile</a>
                                        </li>
                                        <li>
                                            <a href="contact-client.html">Contact Client</a>
                                        </li>
                                        <li>
                                            <a href="contact-client-v.1.html">Contact Client v.1</a>
                                        </li>
                                        <li>
                                            <a href="project-list.html">Project List</a>
                                        </li>
                                        <li>
                                            <a href="project-details.html">Project Details</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Miscellaneousmob" href="#">Interface <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Miscellaneousmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="google-map.html">Google Map</a>
                                        </li>
                                        <li>
                                            <a href="data-maps.html">Data Maps</a>
                                        </li>
                                        <li>
                                            <a href="pdf-viewer.html">Pdf Viewer</a>
                                        </li>
                                        <li>
                                            <a href="x-editable.html">X-Editable</a>
                                        </li>
                                        <li>
                                            <a href="code-editor.html">Code Editor</a>
                                        </li>
                                        <li>
                                            <a href="tree-view.html">Tree View</a>
                                        </li>
                                        <li>
                                            <a href="preloader.html">Preloader</a>
                                        </li>
                                        <li>
                                            <a href="images-cropper.html">Images Cropper</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Chartsmob" href="#">Charts <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Chartsmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="bar-charts.html">Bar Charts</a>
                                        </li>
                                        <li>
                                            <a href="line-charts.html">Line Charts</a>
                                        </li>
                                        <li>
                                            <a href="area-charts.html">Area Charts</a>
                                        </li>
                                        <li>
                                            <a href="rounded-chart.html">Rounded Charts</a>
                                        </li>
                                        <li>
                                            <a href="c3.html">C3 Charts</a>
                                        </li>
                                        <li>
                                            <a href="sparkline.html">Sparkline Charts</a>
                                        </li>
                                        <li>
                                            <a href="peity.html">Peity Charts</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Tablesmob" href="#">Tables <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Tablesmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="static-table.html">Static Table</a>
                                        </li>
                                        <li>
                                            <a href="data-table.html">Data Table</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#formsmob" href="#">Forms <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="formsmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="basic-form-element.html">Basic Form Elements</a>
                                        </li>
                                        <li>
                                            <a href="advance-form-element.html">Advanced Form Elements</a>
                                        </li>
                                        <li>
                                            <a href="password-meter.html">Password Meter</a>
                                        </li>
                                        <li>
                                            <a href="multi-upload.html">Multi Upload</a>
                                        </li>
                                        <li>
                                            <a href="tinymc.html">Text Editor</a>
                                        </li>
                                        <li>
                                            <a href="dual-list-box.html">Dual List Box</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Appviewsmob" href="#">App views <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Appviewsmob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="basic-form-element.html">Basic Form Elements</a>
                                        </li>
                                        <li>
                                            <a href="advance-form-element.html">Advanced Form Elements</a>
                                        </li>
                                        <li>
                                            <a href="password-meter.html">Password Meter</a>
                                        </li>
                                        <li>
                                            <a href="multi-upload.html">Multi Upload</a>
                                        </li>
                                        <li>
                                            <a href="tinymc.html">Text Editor</a>
                                        </li>
                                        <li>
                                            <a href="dual-list-box.html">Dual List Box</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a data-toggle="collapse" data-target="#Pagemob" href="#">Pages <span class="admin-project-icon adminpro-icon adminpro-down-arrow"></span></a>
                                    <ul id="Pagemob" class="collapse dropdown-header-top">
                                        <li>
                                            <a href="login.html">Login</a>
                                        </li>
                                        <li>
                                            <a href="register.html">Register</a>
                                        </li>
                                        <li>
                                            <a href="captcha.html">Captcha</a>
                                        </li>
                                        <li>
                                            <a href="checkout.html">Checkout</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Contacts</a>
                                        </li>
                                        <li>
                                            <a href="review.html">Review</a>
                                        </li>
                                        <li>
                                            <a href="order.html">Order</a>
                                        </li>
                                        <li>
                                            <a href="comment.html">Comment</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu end -->
    <!-- Breadcome start-->
    <div class="breadcome-area mg-b-30 des-none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="breadcome-list map-mg-t-40-gl shadow-reset">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="breadcome-heading">
                                    <form role="search" class="">
                                        <input type="text" placeholder="Search..." class="form-control">
                                        <a href=""><i class="fa fa-search"></i></a>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <ul class="breadcome-menu">
                                    <li>
                                        <a href="#">Home</a> <span class="bread-slash">/</span>
                                    </li>
                                    <li>
                                        <span class="bread-blod">Dashboard</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcome End-->
    <div class="inbox-mailbox-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="tab-content">
                                <div id="inbox" class="tab-pane fade in animated zoomInDown custom-inbox-message shadow-reset active">

                                    <div class="wrapper-pro">


                                        <!-- Breadcome start-->
                                        <div class="breadcome-area mg-b-30 small-dn">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-12">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="admin-dashone-data-table-area mg-b-15">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="sparkline8-list shadow-reset">
                                                            <div class="sparkline8-hd">
                                                                <div class="main-sparkline8-hd">
                                                                    <h1 style="text-align: center;">Add Quotation</h1>
                                                                </div>
                                                                <br>
                                                                <div class="row">
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mask-title">
                                                                            <label>Date</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mark-inner mg-b-22">
                                                                            <input id="txtDate" type="date" class="form-control" placeholder="dd/mm/yyyy">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mask-title">
                                                                            <label>Presented to</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="col-lg-1" style=" width: 21%!important;">
                                                                            <button type="button" class="src-btn btn btn-primary col-xs-12 p-0" style="border-radius:45%" id="btnCustSrch" name="Search">
                                                                                <i class="fa fa-search"></i>
                                                                            </button>
                                                                        </div>
                                                                        <div class="col-lg-10" style=" width: 79%!important;">
                                                                            <div class="input-mark-inner mg-b-22">
                                                                                <input id="txtCompanyname" type="text" class="form-control" placeholder="Company name">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mask-title">
                                                                            <label>RFQ</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mark-inner mg-b-22">
                                                                            <input id="txtRFQ" type="text" class="form-control" placeholder="RFQ">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mask-title">
                                                                            <label>Attention</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mark-inner mg-b-22">
                                                                            <input id="txtCompanysales" type="text" class="form-control" placeholder="company salesman">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mask-title">
                                                                            <label>Quotation no</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-lg-3">
                                                                        <div class="input-mark-inner mg-b-22">
                                                                            <input id="txtQutationNo" disabled="disabled" type="text" class="form-control" placeholder="QutationNo">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="sparkline8-graph" style="margin-left:2%!important;">
                                                                <div class="datatable-dashv1-list custom-datatable-overright">
                                                                    <div class="button-ap-list responsive-btn">
                                                                        <button id="btnprint" type="button" class="btn btn-custon-four btn-primary"><i class="fa fa-print"></i>print</button>
                                                                        <button id="btnsave" type="button" class="btn btn-custon-four btn-success"><i class="fa fa-download"></i>save pdf</button>
                                                                    </div>
                                                                    <div id="DivMassage" class="col-lg-12  margingred  borderred display_none">

                                                                        <h4 id="Text_Massage">Message</h4>

                                                                    </div>
                                                                    <table id="table" data-toggle="table" data-pagination="true" data-search="true" data-show-pagination-switch="true" data-show-refresh="true" data-resizable="true" data-cookie="true" data-cookie-id-table="saveId" data-show-export="false" data-click-to-select="true" data-toolbar="#toolbar">
                                                                        <thead>
                                                                            <tr>
                                                                                <th data-field="id">SR</th>
                                                                                <th data-field="" data-editable="true">QTY</th>
                                                                                <th data-field="description" data-editable="true">Description</th>
                                                                                <th data-field="number" data-editable="true">Unit Price</th>
                                                                                <th data-field="number" data-editable="true">Total price</th>
                                                                                <th data-field="number" data-editable="true">Discount%</th>
                                                                                <th data-field="number" data-editable="true">Discount Amount</th>
                                                                                <th data-field="number" data-editable="true">Net</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="Table_Data">
                                                                        </tbody>


                                                                    </table>
                                                                </div>
                                                                <div class="btn-group project-list-action">
                                                                    <button id="btnAddDetails" class="btn btn-custon-four btn-success"><i class="fa fa-plus"></i>add item</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="sparkline8-hd" style="margin-left:2%!important">
                                                            <div class="main-sparkline8-hd">
                                                                <h1 style="text-align: center;"><b>Terms and Conditions:</b></h1>
                                                            </div>
                                                            <br>
                                                            <div class="row">
                                                                <div class="col-lg-3">
                                                                    <label>Price quoted are in EGP.</label>
                                                                </div>
                                                            </div>
                                                            <label>
                                                                <div class="pull-left pagination-detail">
                                                                    <span class="pagination-info">
                                                                        All price
                                                                        <span>
                                                                            <span class="btn-group dropup">
                                                                                <input id="txtsalesVAT" type="text" class="form-control" placeholder="Include or not include">
                                                                            </span> sales VAT.
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="sparkline8-hd" style="margin-left:2%!important">
                                                            <label>
                                                                <div class="pull-left pagination-detail">
                                                                    <span class="pagination-info">
                                                                        Payment with in
                                                                        <span>
                                                                            <span class="btn-group dropup">
                                                                                <input id="txtfirstdays" type="text" class="form-control" placeholder="Number of days">
                                                                            </span>days starting from the delivery date.
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="sparkline8-hd" style="margin-left:2%!important">
                                                            <label>
                                                                <div class="pull-left pagination-detail">
                                                                    <span class="pagination-info">
                                                                        Offer validity
                                                                        <span>
                                                                            <span class="btn-group dropup">
                                                                                <input id="txtsecounddays" type="text" class="form-control" placeholder="Number of days">
                                                                            </span>days from offer date.
                                                                        </span>

                                                                    </span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="sparkline8-hd" style="margin-left:2%!important">
                                                            <label>
                                                                <div class="pull-left pagination-detail">
                                                                    <span class="pagination-info">
                                                                        The delivery will be
                                                                        <span>
                                                                            <span class="btn-group dropup">
                                                                                <input id="txtlastdays" type="text" class="form-control" placeholder="Number of days">
                                                                            </span>days from purchase order.
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </label>
                                                        </div>
                                                        <div class="sparkline8-hd" style="margin-left:2%!important">
                                                            <label>
                                                                <div class="pull-left pagination-detail">
                                                                    <span class="pagination-info">
                                                                        Place of delivery
                                                                        <span>
                                                                            <span class="btn-group dropup">
                                                                                <input id="txtPlacedeliv" style="width:235%;" type="text" class="form-control" placeholder="Place of delivery ">
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </div>
                                                            </label>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <label>Thank you and assuring you of our best attention and services at all time.</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ClientApp/Quotation/Quotation.js"></script>